.info {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    margin-top: 4vw;
    overflow: hidden;
}

.info-image {
    width: 135%;
    margin-left: 5%;
}

.info-text {
    width: 100%;
}

.info-title {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 4vw;
    font-size: 11vw;
    line-height: 12vw;
}

.info-description {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 4vw;
    font-size: 5vw;
    line-height: 8.5vw;
}

.info-button {
    color: white;
    cursor: pointer;
    background-color: var(--cyan);
    width: 45%;
    margin: 7vw auto;
    padding: 15px 9px;
    border-radius: 30px;
    font-size: 5.5vw;
    text-align: center;
    transition: background-color 500ms ease;
}

.info-button:hover {
    background-color: hsl(179, 56.9%, 74.5%);
}

@media (min-width: 375px) {
    .info {
        margin-top: 15px;
    }
    .info-title {
        margin-top: 15px;
        font-size: 41.25px;
        line-height: 45px;
    }
    .info-description {
        margin-top: 15px;
        font-size: 18.75px;
        line-height: 31.875px;
    }
    .info-button {
        margin: 26.25px auto;
        font-size: 18.75px;
    }
}

@media (min-width: 768px) {
    .info {
        width: 90%;
        margin: 15px 10%;
        grid-template-columns: 40% 20% 40%;
    }
    .info-image {
        grid-row: 1/2;
        grid-column: 3/4;
        width: 115%;
    }
    .info-text {
        grid-row: 1/2;
        grid-column: 1/2;
        display: grid;
        margin-top: auto;
        margin-bottom: auto;
    }
    .info-title {
        width: 100%;
        font-size: 4.5vw;
        line-height: 5vw;
        text-align: start;
        margin-top: unset;
    }
    .info-description {
        width: 100%;
        font-size: 1.4vw;
        line-height: 2.2vw;
        text-align: start;
        margin-top: unset;
        padding-bottom: 1.5vw;
    }
    .info-button {
        width: 30%;
        margin-left: 0px;
        font-size: 1.4vw;
        padding: 7.5px;
        margin: unset;
    }
}